@import url("./admin.css");
@import url("./helpers.css");
@import url("./width.css");
@import url("./responsive.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  
  font-size: 62.5%;
}
html,
body {
  color: var(--blue-dark) !important;
  font-family: Montserrat-Light !important;
}
nav.nav-header {
  align-items: center;
  display: flex;
  background: #fff;
  height: 70px;
  position: fixed;
  top: 0;
  left: 1%;
  padding: 0;
  width: 98%;
  justify-content: space-between;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: -1px 6px 10px 1px rgba(0, 0, 0, 0.45);
  box-shadow: -1px 6px 10px 1px rgba(0, 0, 0, 0.35);
  z-index: 1;
}
.logo {
  min-width: 100px;
  width: 9%;
  margin-left: 5%;
}
.navigate-head {
  display: flex;
  width: 55%;
  height: auto;
  justify-content: space-around;
  margin-right: 5%;
}
.navigate-head a {
  color: var(--blue-dark);
  font-family: Montserrat-Regular;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}
.navigate-head a.login {
  background-color: var(--blue-dark);
  border-radius: 5px;
  color: #fff;
  font-family: Montserrat-Bold;
  padding: 4px 12px;
}
.navigate-head a.sign-btn {
  background-color: var(--green-light);
  border-radius: 5px;
  color: #fff;
  font-family: Montserrat-Bold;
  padding: 4px 12px;
}
.nav-header .logo img {
  content: url("./img/logo.svg");
}
.navigate-head a.active {
  color: var(--green-light);
}
.navigate-head a.active-reg {
  color: var(--blue-dark);
}
.main {
  margin-top: 15vh;
}

/* Inicio */
.abouts {
  width: 100%;
  height: auto;
  display: flex;
  height: 75vh;
}
.abouts .about-text {
  width: 45%;
  margin: 15vh 5%;
}

.abouts .about-img img {
  content: url("./img/abouts.png");
  width: 100%;
}
.abouts .about-img {
  width: 55%;
  margin: 5vh 2%;
  display: flex;
}

/* Fotter */

.Fotter {
  width: 100%;
  bottom: 0;
  text-align: center;
  align-items: center;
  padding: 5px 0;
}
.Fotter h4 {
  font-family: Montserrat-Bold;
  padding: 0;
  margin: 0;
  color: #fff;
}
.Fotter p {
  margin: 0;
}

/* Empresa */
.empresa {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 78vh;
  margin: 15px 0;
  background: url("./img/mision.png");
  background-size: contain;
}
.title {
  text-align: center;
  font-family: Montserrat-Bold;
}
.text {
  font-family: Montserrat-Medium;
  font-size: 20px;
}
.empresa .mision {
  padding: 50px 50px;
  width: 55%;
  margin: 10vh auto;
  background-color: #f5f5f5;
}
.empresa .mision li {
  margin-top: 10px;
}

/* lOGIN */
.view-login {
  display: flex;
  height: 75vh;
  /* justify-content: space-around; */
}

.view-login .login-img {
  display: flex;
  width: 40%;
  height: 80%;
  margin: 30px 5% 0 0;
}
.view-login .login-img img {
  content: url("./img/ingreso.png");
  width: 100%;
}

.view-login .login {
  text-align: center;
  font-family: Montserrat-Bold;
  margin-top: 5vh;
}
.view-login .login h1 {
  font-family: Montserrat-Regular;
  margin-bottom: 40px;
}
.view-login .login h1 b {
  font-family: Montserrat-Medium;
}
.view-login .login h1 .green {
  color: var(--green-light);
}

.green {
  color: var(--green-light) !important;
}

.view-login .login a {
  background-color: #f4f4f4;
  border-radius: 5px;
  color: #90a6a6;
  text-decoration: none;
  padding: 5px 10px;
  margin-left: 10px;
}
.view-login .login form {
  background-color: #f4f4f4;
  padding: 40px 0 20px 0;
}
.view-login .login form .logo {
  width: 20%;
  margin: 0 auto;
}
.view-login .login form img {
  content: url("./img/LogoWhite.png");
  display: flex;
  width: 100%;
}
.form-fields {
  display: grid;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.form-fields a {
  color: var(--blue-dark) !important;
  font-size: 14px;
  font-weight: bold;
  font-family: Montserrat-Medium;
}
.form-fields input {
  background-color: #e1e1e1;
  border-radius: 65px;
  border: none;
  color: var(--blue-dark);
  font-size: 14px;
  font-family: Montserrat-Medium;
  font-weight: bold;
  height: 32px;
  margin: 7px 0;
  padding-left: 15px;
  outline: none;
}
.form-fields label {
  font-family: Montserrat-Bold;
  font-size: 14px;
  text-align: left;
}
input:focus {
  padding-left: 15px;
}
input::placeholder {
  color: #90a6a6;
}
.button {
  border: none;
  background-color: var(--green-light);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-family: Montserrat-Bold;
  width: 50%;
  margin: 10px auto;
  padding: 5px 10px;
}

/* Registro */

.sign {
  display: flex;
  /* height: 75vh; */
  justify-content: center;
  flex-wrap: wrap;
}
.sign .img-sign {
  display: flex;
  width: 30%;
  height: 100%;
  height: 80vh;
}
.sign .img-sign img {
  margin-top: 5vh;
  width: 100%;
  content: url("./img/registro.png");
  right: 0;
}

.sign form {
  width: 40%;
  text-align: center;
}
.sign form .form-fields {
  width: 90%;
}
.sign form .icon-white {
  display: flex;
  width: 22%;
  margin: 0 auto;
}
.sign form img {
  width: 100%;
  content: url("./img/LogoWhite.png");
}
.sign form .check {
  display: flex !important;
}
.sign form h3 {
  margin: 0 0 20px 0;
}
.sign form .check label {
  margin: 10px 0 0 10px;
}
footer {
  margin-top: 10vh;
  padding: 30px;
  background-color: #02141a;
  color: #fff !important;
}
a {
  text-decoration: none;
}
footer .body-fotter a:hover {
  font-weight: bold;
}
footer .body-fotter a {
  display: block;
  color: #fff;
  font-size: 20px;
  padding: 5px;
}
footer .body-fotter h4 {
  font-family: Montserrat-Medium;
  color: #fff;
  font-weight: bold;
}
footer .body-fotter {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  /* border-top: 3px solid #a5b9b9 */
}
footer .body-fotter div {
  max-width: 20%;
  min-width: 150px;
}
.select-plans .package {
  width: 300px !important;
  height: 180px;
}
.select-plans .package .description-plan {
  display: none;
}
.select-plans {
  min-width: 350px;
  max-width: 45%;
  flex-wrap: wrap;
  margin: 40px 0 0 0 !important;
}
.plans {
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
.plans .title {
  font-size: 40px;
}
.plans .title span {
  color: var(--green-light);
}
.plans h2 {
  font-family: Montserrat-Bold;
  margin: 30px 0 0 0;
  color: #fff;
}
.plans h1 {
  font-family: Montserrat-Bold;
  font-size: 30px;
  margin: 0;
  padding: 15px 0 0 0;
  /* color: #fff; */
}
.plans .text-plans p {
  font-family: Montserrat-Medium;
  font-weight: bold;
  font-size: 18px;
  /* color: var(--blue-dark); */
  color: #2a4847;
}
.plans .packages-plan h1 {
  color: #fff;
}
.plans .packages-plan p {
  font-family: Montserrat-Bold;
  font-size: 16px;
  color: #56c553;
  margin: 0;
  padding: 5px 0 0 0;
}
p.description-plan {
  font-family: Montserrat-Medium !important;
  color: #fff !important;
  text-align: justify !important;
  padding: 5px 15px 50px 15px !important;
  font-size: 15px !important;
  display: block;
  /* font-weight: bold; */
}
.plans .packages-plan .prices {
  padding: 0;
  font-size: 50px;
}
.plans .packages-plan .prices span {
  color: #56c553;
  font-size: 25px;
}
.plans .packages-plan {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.plans .packages-plan .package:hover {
  cursor: pointer;
  opacity: 0.9 !important;
  transition: 0.3s;
  /* height: auto!important;
  width: 400px;
  */
}
/* .plans .packages-plan .package:hover > p {
  display: block;
  transition: 3s;
} */
.package-select {
  opacity: 0.8;
}
.plans .package {
  color: #fff;
  background-color: #135959;
  border-radius: 10px;
  text-align: center;
  width: 360px;
  margin: 15px;
  /* height: 180px; */
}
/* .plans .wallets-plans .wallets .nequi {
  content: url("./img/nequi.svg");
}
.plans .wallets-plans .wallets .airtm {
  content: url("./img/aitm.svg");
}
.plans .wallets-plans .wallets .daviplata {
  content: url("./img/daviplata.svg");
}
.plans .wallets-plans .wallets .skrill {
  content: url("./img/skrill.svg");
} */
.plans .wallets-plans .wallets img {
  display: flex;
  width: 155px;
}
.plans .wallets-plans .wallets {
  display: flex;
  background-color: #eee;
  border-radius: 15px;
  height: 130px;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
.plans .wallets-plans .wallets .purse {
  color: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 0;
  background-color: #135959;
  height: 100%;
  display: flex;
  width: 20%;
}
.plans .wallets-plans .wallets .purse p {
  align-items: center;
  display: flex;
  font-family: Montserrat-Medium;
  font-size: 25px;
  padding: 10px;
  margin: 0;
  text-align: left;
}
.wallets .select {
  background-color: #135959;
  padding: 3px 20px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
.icon-select {
  display: flex;
  cursor: pointer;
  width: 155px;
}
.wallets .check_pay {
  font-size: 69px;
  /* background-color: rgb(190 190 190 / 69%);
  color: #55c353; */
  /* color: #062831; */
  background-color: #5cd55b;
  color: #fff;
  opacity: 0.8;
  border-radius: 85px;
  height: 70px;
  position: absolute;
  margin-top: 4px;
  margin-left: 43px;
}
.wallets .check_none {
  display: none;
}

button.wall-continue {
  width: 200px;
  font-size: 20px;
}
.testimonials-content {
  font-family: Montserrat-Regular;
  width: 70%;
  margin: auto;
  text-align: center;
  font-weight: normal;
}
.testimonials-content b {
  font-family: Montserrat-Medium;
  font-weight: bold;
}
.testimonial-body {
  width: 90%;
  margin: auto;
}
.testimonial-body p {
  font-size: 20px;
  font-weight: bold;
}
.contact {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact .title {
  width: 100%;
  text-align: center;
}
.contact .title p {
  font-size: 20px;
  margin-top: 5px;
}
.contact .title img {
  display: flex;
  content: url("./img/LogoWhite.png");
  width: 120px;
  margin: auto;
}
.contact .details h1.title {
  font-size: 30px;
  text-align: left;
}
.contact > .form,
.details {
  max-width: 45%;
  min-width: 400px;
}
.contact .form form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
input::placeholder,
textarea::placeholder {
  font-family: Montserrat-Medium;
}
input,
textarea {
  padding-left: 15px;
}
.contact .form form > input::placeholder,
textarea::placeholder {
  font-size: 18px;
}
.contact .form form > input,
textarea {
  font-size: 18px;
  width: 100%;
  outline: none;
  border: none;
  background-color: #eee;
  margin: 10px 0;
  height: 30px;
  border-radius: 5px;
}
.contact .form form > textarea {
  height: 70px;
}
.contact .form form > a {
  width: 70%;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.contact .form form > button {
  width: 30%;
}
.contact .text-contact i {
  font-size: 30px;
  color: var(--green-light);
}
.contact .text-contact p {
  margin-left: 0.5rem;
}
.contact .text-contact {
  display: flex;
  align-items: center;
  justify-content: left;
}
a {
  cursor: pointer;
}

.login a:hover {
  color: var(--green-light) !important;
}
.payments {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 15px;
}
.payments form {
  width: 90%;
  margin: auto;
}
.payments form label {
  display: flex;
}
.payments form input {
  width: 100%;
  display: flex;
}
.payments form {
  text-align: center;
  align-items: center;
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.payments form .pay-inputs {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
}
.input-contact {
  font-size: 18px;
  width: 100%;
  outline: none;
  border: none;
  background-color: #eee;
  margin: 10px 0;
  height: 30px;
  border-radius: 5px;
}
.label-mon {
  font-size: 18px;
  font-family: Montserrat-Medium;
  color: #696c6c;
}
.wpp3 {
  width: 30%;
  height: 35px;
  font-size: 20px;
}
.titleh1 {
  font-family: Montserrat-Bold;
  font-size: 40px;
  margin: 0;
  padding: 15px 0 0 0;
  color: var(--blue-dark);
}
.subtitle {
  font-family: Montserrat-Medium;
  font-size: 25px;
  margin: 0;
  color: var(--blue-dark);
}
