.wp-30 {
  width: 30px;
}
.wp-50 {
  width: 50px;
}
.wp-70 {
  width: 70px;
}
.wp-80 {
  width: 80px;
}
.wp-90 {
  width: 90px;
}
.wp-100 {
  width: 100px;
}
.wp-150 {
  width: 150px;
}
.wp-200 {
  width: 200px;
}
